ul {
  list-style: none;
}

.nav {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "links";
}

.links {
  grid-area: links;
  justify-self: end;
}
